<template>
  <div v-if="$route.params.filmId" class="container">
    <div class="row" v-for="(film, index) in onefilm" :key="index">
      <div class="col-12">
        <h2>{{ film.title }}</h2>
      </div>
      <div class="col-12">
        <div class="card-group">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Film info</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <ul class="list-inline">
                    <li class="list-inline-item">Episode #:</li>
                    <li class="list-inline-item">{{film.episode_id}}</li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <ul class="list-inline">
                    <li class="list-inline-item">Director:</li>
                    <li class="list-inline-item">{{film.director}}</li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <ul class="list-inline">
                    <li class="list-inline-item">Producer:</li>
                    <li class="list-inline-item">{{film.producer}}</li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <ul class="list-inline">
                    <li class="list-inline-item">Opening crawl:</li>
                    <li class="list-inline-item">{{film.opening_crawl}}</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <person-list :list-of-persons="film.characters"></person-list>
          <ship-list :list-of-ships="film.starships"></ship-list>
        </div>
      </div>
    </div>
  </div>
  <div v-else class="container">
    <div class="row">
      <h2>Films</h2>
      <br>
      <input type="text" class="form-control" v-model="search" placeholder="search film">
    </div>
    <div class="row">
      <ul class="list-unstyled full-list">
        <li v-for="(film, index) in films" :key="index">
          <router-link :to="`/film/${film.episode_id}`" class="card-link">{{ film.title }}</router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import PersonList from "./PersonList";
import ShipList from "./ShipList";

export default {
  data() {
    return {
      search: ""
    };
  },
  components: {
    PersonList,
    ShipList
  },
  computed: {
    films() {
      return this.$store.getters.getCollections({
        searchstr: this.search,
        collection: "films"
      });
    },
    onefilm() {
      const id = parseInt(this.$route.params.filmId);
      return this.$store.getters.getItemFromCollection({
        id,
        collection: "films"
      });
    }
  }
};
</script>

<style scoped>
</style>
