<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Films</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" v-for="(film, index) in films(ListOfFilms)" :key="index">
          <router-link :to="`/film/${film.routes}`" class="card-link">{{film.title}}</router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "FilmList",
  props: {
    ListOfFilms: Array
  },
  methods: {
    getIds(value) {
      let id = [];
      value.forEach(item => {
        id.push(parseInt(/\d{1,2}/.exec(item)));
      });
      return id;
    },
    films(filmsArr) {
      const id = this.getIds(filmsArr);
      return this.$store.getters.getFilmsById(id);
    }
  }
};
</script>
