<template>
  <div class="container">
    <div class="row flex-column">
      <p>404</p>
      <span>page not found</span>
    </div>
  </div>
</template>

<style scoped>
p {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}
span {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}
</style>
