<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Characters</h5>
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item"
          v-for="(person, index) in characters(ListOfPersons)"
          :key="index"
        >
          <router-link :to="`/person/${person.routes}`" class="card-link">{{person.name}}</router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "PersonList",
  props: {
    ListOfPersons: Array
  },
  methods: {
    getIds(value) {
      let id = [];
      value.forEach(item => {
        id.push(parseInt(/\d{1,2}/.exec(item)));
      });
      return id;
    },
    characters(charactersArr) {
      const id = this.getIds(charactersArr);
      return this.$store.getters.getShipsOrPeoplesById({
        id,
        collection: "people"
      });
    }
  }
};
</script>
