<template>
  <div v-if="$route.params.personId" class="container">
    <div class="row" v-for="(person, index) in oneperson" :key="index">
      <div class="col-12">
        <h2>{{ person.name }}</h2>
      </div>
      <div class="col-12">
        <div class="card-group">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Personal info</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <ul class="list-inline">
                    <li class="list-inline-item">Height:</li>
                    <li class="list-inline-item">{{person.height}}</li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <ul class="list-inline">
                    <li class="list-inline-item">Skin color:</li>
                    <li class="list-inline-item">{{person.skin_color}}</li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <ul class="list-inline">
                    <li class="list-inline-item">Birth year:</li>
                    <li class="list-inline-item">{{person.birth_year}}</li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <ul class="list-inline">
                    <li class="list-inline-item">Gender:</li>
                    <li class="list-inline-item">{{person.gender}}</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <film-list :list-of-films="person.films"></film-list>
          <ship-list :list-of-ships="person.starships"></ship-list>
        </div>
      </div>
    </div>
  </div>
  <div v-else class="container">
    <div class="row">
      <h2>Persons</h2>
      <br>
      <input type="text" class="form-control" v-model="search" placeholder="search person">
    </div>
    <div class="row">
      <ul class="list-unstyled full-list">
        <li v-for="(person, index) in peoples" :key="index">
          <router-link
            :to="`/person/${/\d{1,2}/.exec(person.url)}`"
            class="card-link"
          >{{ person.name }}</router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import FilmList from "./FilmList";
import ShipList from "./ShipList";

export default {
  data() {
    return {
      search: ""
    };
  },
  components: {
    FilmList,
    ShipList
  },
  computed: {
    peoples() {
      return this.$store.getters.getCollections({
        searchstr: this.search,
        collection: "people"
      });
    },
    oneperson() {
      const id = parseInt(this.$route.params.personId);
      return this.$store.getters.getItemFromCollection({
        id,
        collection: "people"
      });
    }
  }
};
</script>

<style scoped>
@media (min-width: 992px), (max-width: 767px) {
  .card {
    min-width: 225px;
  }
}
</style>
