<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Starships</h5>
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item"
          v-for="(ship, index) in starships(ListOfShips)"
          :key="index"
        >
          <router-link :to="`/ship/${ship.routes}`" class="card-link">{{ship.name}}</router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "ShipList",
  props: {
    ListOfShips: Array
  },
  methods: {
    getIds(value) {
      let id = [];
      value.forEach(item => {
        id.push(parseInt(/\d{1,2}/.exec(item)));
      });
      return id;
    },
    starships(shipsArr) {
      const id = this.getIds(shipsArr);
      return this.$store.getters.getShipsOrPeoplesById({
        id,
        collection: "starships"
      });
    }
  }
};
</script>
