<template>
  <div v-if="$route.params.shipId" class="container">
    <div class="row" v-for="(ship, index) in oneship" :key="index">
      <div class="col-12">
        <h2>{{ ship.name }}</h2>
      </div>
      <div class="col-12">
        <div class="card-group">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ship info</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <ul class="list-inline">
                    <li class="list-inline-item">Model:</li>
                    <li class="list-inline-item">{{ship.model}}</li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <ul class="list-inline">
                    <li class="list-inline-item">Starship class:</li>
                    <li class="list-inline-item">{{ship.starship_class}}</li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <ul class="list-inline">
                    <li class="list-inline-item">Crew:</li>
                    <li class="list-inline-item">{{ship.crew}}</li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <ul class="list-inline">
                    <li class="list-inline-item">Passengers:</li>
                    <li class="list-inline-item">{{ship.passengers}}</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <film-list :list-of-films="ship.films"></film-list>
        </div>
      </div>
    </div>
  </div>
  <div v-else class="container">
    <div class="row">
      <h2>Starships</h2>
      <br>
      <input type="text" class="form-control" v-model="search" placeholder="search starship">
    </div>
    <div class="row">
      <ul class="list-unstyled full-list">
        <li v-for="(ship, index) in starships" :key="index">
          <router-link
            :to="`/ship/${/\d{1,2}/.exec(ship.url)}`"
            class="card-link"
          >{{ ship.name }}</router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import FilmList from "./FilmList";

export default {
  data() {
    return {
      search: ""
    };
  },
  components: {
    FilmList
  },
  computed: {
    starships() {
      return this.$store.getters.getCollections({
        searchstr: this.search,
        collection: "starships"
      });
    },
    oneship() {
      const id = parseInt(this.$route.params.shipId);
      return this.$store.getters.getItemFromCollection({
        id,
        collection: "starships"
      });
    }
  }
};
</script>

<style scoped>
.full-list li {
  float: left;
  min-width: 220px;
  margin: 0;
  padding: 10px;
}
</style>
