<template>
  <div class="container-fluid">
    <header class="p-3 mb-3">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col">
            <h1>swapi</h1>
          </div>
          <div class="col">
            <nav>
              <ul class="list-inline text-right">
                <li class="list-inline-item">
                  <router-link to="/film">Film</router-link>
                </li>
                <li class="list-inline-item">
                  <router-link to="/person">Person</router-link>
                </li>
                <li class="list-inline-item">
                  <router-link to="/ship">Ship</router-link>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <router-view></router-view>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.min.css";

export default {
  name: "app",
  components: {},
  created() {
    this.$store.dispatch("getDataApi", "films");
    this.$store.dispatch("getDataApi", "people");
    this.$store.dispatch("getDataApi", "starships");
  }
};
</script>

<style>
.container-fluid {
  margin: 0;
  padding: 0;
}
header {
  background: var(--green);
}
header h1,
header a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
header ul {
  margin: 0;
}
.full-list li {
  float: left;
  min-width: 180px;
  margin: 0;
  padding: 10px;
}
</style>
